@font-face {
    font-family: "Fluox";
    src: url("Fluox___.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
    font-display: swap;

}

@font-face {
    font-family: "Nunito";
    src: url("Nunito.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
    font-display: swap;

}