@import url(../fonts/font.css);
@import url(../css/header.css);
@import url(../css/footer.css);


body {
    margin-left: 1.125em;
}

h1,
h2,
h3 {
    font-family: "Fluox";
}

p {
    font-family: "Nunito";


}

.TexteCentre {
    text-align: center;
}

.ImageCentre {
    margin: auto;
    display: flex;
}

.BackgroundAbstrait {
    background-image: url('../../public/img/Background-Abstrait.png');
    height: 553px;
    width: 375px;
    margin: -1.125em;

}


.BackgroundArtiste1 {
    background-image: url('../../public/img/BackgroundArtiste1.png');
    height: 479px;
    width: 375px;
    margin: -1.125em;

}

.BackgroundArtiste2 {
    background-image: url('../../public/img/BackgroundArtiste2.png');
    height: 479px;
    width: 375px;
    margin: -1.125em;

}


.Gallery {
    display: flex;
    justify-content: center;
}



:any-link {
    text-decoration: none;
    color: black;
}


li {
    margin-left: 18px;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    position: relative;
    padding-top: 40px;
    font-family: 'Fluox';
}

.Barre {
    content: "";
    background-color: #F15A22;
    width: 317px;
    height: 2px;
    margin: auto;
}

.Barre2 {
    content: "";
    background-color: black;
    width: 278px;
    height: 1px;
    margin-left: 12px;
}

.Barre3 {
    content: "";
    background-color: black;
    width: 97px;
    height: 1px;

}
