@import url(../fonts/font.css);
@import url(../css/header.css);
@import url(../css/footer.css);


body {
    margin-left: 1.125em;
}

h1,
h2,
h3,
h5,
label {
    font-family: "Fluox";
}

p {
    font-family: "Nunito";


}

.TexteCentre {
    text-align: center;
}

.ImageCentre {
    margin: auto;
    display: flex;
}

.BackgroundAbstrait {
    background-image: url('../../public/img/Background-Abstrait.png');
    height: 553px;
    width: 100%;
    margin: -1.125em;

}


.BackgroundArtiste1 {
    background-image: url('../../public/img/BackgroundArtiste1.png');
    height: 479px;
    width: 100%;
    margin: -1.125em;

}

.BackgroundArtiste2 {
    background-image: url('../../public/img/BackgroundArtiste2.png');
    height: 479px;
    width: 100%;
    margin: -1.125em;

}


.Gallery {
    display: flex;
    justify-content: center;
}



:any-link {
    text-decoration: none;
    color: black;
}


li {
    margin-left: 18px;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    position: relative;
    padding-top: 40px;
    font-family: 'Fluox';
}

.Barre {
    content: "";
    background-color: #F15A22;
    width: 317px;
    height: 2px;
    margin: auto;
}

.Barre2 {
    content: "";
    background-color: black;
    width: 278px;
    height: 1px;
    margin-left: 12px;
}

.Barre3 {
    content: "";
    background-color: black;
    width: 97px;
    height: 1px;

}

.Form1 {
    border: solid;
}

.Formulaire {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    margin-top: 70px;
}

.Formulaire>div {
    margin-top: 30px;
}

input {
    background-color: white;
    border: none;
    outline: none;
}

label {
    border-right: solid;
    padding-right: 4px;
    padding-left: 1px;
}

.BtnEnvoyer {
    cursor: pointer;
    z-index: 0;
    border: solid;
    border-radius: 10px;
    margin-top: 30px;
    margin-left: 120px;
    padding: 5px;

}



/* Carrousel */

.carrousel {
    display: flex;
    width: 95%;
    overflow-x: scroll;
    scroll-behavior: smooth;
    scroll-snap-type: x mandatory;
}

.carrousel-image {
    width: 80%;
    flex: none;
    scroll-snap-align: start;
}

.carrousel-image figure {
    margin: 0;
    padding: 10px;
}

.carrousel {
    position: relative;
    margin-left: 5%;
}

img {
    max-width: 100%;
    height: auto;
}

.carrousel_parent-image {
    display: flex;
    width: 100%;
    overflow-x: scroll;
    scroll-behavior: smooth;
    scroll-snap-type: x mandatory;
}

.carrousel_image {
    width: 70%;
    flex: none;
    scroll-snap-align: start;
    margin-top: 5%;
    margin-bottom: 5%;
    margin-left: 5%;
}

.carrousel_image figure {
    margin: 0;
}

.carrousel {
    position: relative;
}

.carrousel_btn {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 2rem;
    height: 2rem;
    background: rgba(0, 0, 0, 0.5);
    border-radius: 50%;
    border: none;
    display: grid;
    place-content: center;
    color: #fff;
}

.carrousel_btn-avant {
    left: 2%;
}

.carrousel_btn-apres {
    right: 2%;
}